@import url('https://fonts.googleapis.com/css2?family=Merriweather');


.pageWrapper{
    /* border: 1px solid black; */
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.centerName{
    /* border: 1px solid blue; */
    font-family: 'Merriweather';
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    /* text-decoration-color: blue; */
}

a{

    text-decoration-color: green;

}
a:link{
    
    color: #000000;

}

a:visited{

    color: #000000;

}

a:active{

    color: purple;

}


